*{
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(src/Cybg.jpg);
    background-size: 100% 65%;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #2C2C2B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: right;
    width: 100%;
    padding: 20px 10%;
    
}

.navigation{
    padding-right: 10%;
    display: flex;
    justify-content: right;
}

.navigation a{
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}

.navigation a:hover{
    color: aqua;
    text-transform: uppercase;
    text-shadow: 2px 2px rgb(31, 133, 250);
    text-shadow: 100px;
    border-radius: 10px;
    box-shadow: inset 200px 0 0 0 #54b3d6
}


.personal{
    color: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.personal_image img{
    height: 70%;
    width: 70%;
    border-radius: 100%;
}

.personal_image img:hover{
    filter: drop-shadow(-10px -10px 10px blue);
}

section{
    padding: 100px 5%;
}

.Pcontent{
    padding-top: 10%;
}

.Pcontent h1{
    font-size: 50px;
}

.contents h4{
    font-size: 25px;
    padding-left: 2%;
    line-height: 35px;
}

.contents p{
    font-size: 15px;
    line-height: 40px;
    
}

.contents{
    width: 90%;
    text-align: justify;
}


.technical_info{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2rem;
    background-image: url(src/BG2.1.jpg);
    background-size: cover;
}

.technical_info .image_technical{
    text-align: center;
    position: relative;
}

.technical_info .image_technical img{
   width: 350px;
   height: auto;
   filter: drop-shadow(-10px -10px 10px blue);
}

.technical_info .about_me{
    padding-left: 5%;
    width: 100%;
    color: aliceblue;
    text-align: justify;
}

.technical_info .about_me p{
    font-size: 20px;
    line-height: 5px;
}

.technical_info .about_me h1{
    line-height: 60px;
}

.technical_info .about_me .qoute{
    line-height: 20px;
}

.technical_info .Tec_Title{ 
    color: black;
    font-style: italic;
    font-size: 220%;
    text-align: center;
    text-shadow: 0 0 3px #01ffff, 0 0 5px #79f6fc;
    filter: drop-shadow(-10px -10px 10px rgb(253, 251, 252));
}

.Tec_Title .blob{
    position:fixed;
    width: 140%;
    height: 10%;
    z-index: -1;
    top: -40%;
    left: -50px;
}