* {
    margin: 0;
    padding: 0;
    font-family: impact, fantasy;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 1);
}
.head {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bg3.jpg);
    background-size: cover;
}

#sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: white;
    left: -250px;
    transition: .45s ease;
    border-radius: 0px 10px 10px 0px;
    z-index: 2;
}

#sidebar.active {
    left: 0;
    z-index: 2;
}

#sidebar a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .btn {
    position: absolute;
    top: 30px;
    left: 260px;
}

.btn span {
    width: 45px;
    height: 4px;
    background: white;
    display: block;
    margin-top: 4px;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 60px;
    color: white;
}
.hi {
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.ryan {
    font-size: 100px;
    font-weight: lighter;
}
.section {
    font-weight: normal;
}
.img {
    padding-right: 50px;
}
.img img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

/*  CSS for ABOUTME */
.intro {
    color: white;
    text-align: center;
    padding-top: 230px;
    padding-bottom: 250px;
   
}


.info {
    font-family: Bradley Hand, cursive;
    font-size: 25px;
}
.name {
    font-family: Bradley Hand, cursive;
}
.hello {
    font-size: 60px;
    padding-bottom: 20px;
}



/* CSS for Hobbies */

.Hobbies1 {
    font-family: cursive;
    place-items: center;
    background-image: url(bg7.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.HOBBIES {
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 30px;
    text-align: center;
    font-family: cursive;
    color: white;
}

.HOBBIES h1 {
    font-family: cursive;
}

.container {
    place-items: center;
    
    min-height: 70vh;
    display: grid;
}
.slider {
    margin-bottom: auto;
    margin-top: 0px;
    margin-left: 50px;
    height: 200px;
    margin-right: 50px;
    position: relative;
    width: 90%;
    display: flex;
    place-items: center;
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur 10px;
}

.HBE {
    font-family: cursive;
    border-radius: 10px;
  
    color: white;
    margin-bottom: 40px;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
}

.HBE h1 {
    font-family: cursive;
}

.HBE p {
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 20px;
}

#kdrama-slider {
    grid-area: 1 / 1;
}

#manwha-slider {
    grid-area: 2 / 2;
}

.slide-track {
    display: flex;
    width: calc(250px * 20);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 10));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    position: relative;
}

img {
    width: 100%;
    transition: transform 1s;
}

.kdtitle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    color: white;
}

.kdtitle:hover {
    opacity: 1;
}

img:hover {
    transform: translateZ(20px);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

/* Adjustments for text position */

.HBN {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3; /* Ensure the text is in front */
}

#manwha-slider .HBN {
    left: 0;
    right: initial;
    z-index: 3; /* Ensure the text is in front */
}
